:root {
  /* Material Design 3 color schemes */
  --mat-sys-source: #adebb3;
  
  --mat-sys-primary: light-dark(#146d33, #85d993);
  --mat-sys-primary-rgb: light-dark(rgb(20, 109, 51), rgb(133, 217, 147));
  --mat-sys-on-primary: light-dark(#ffffff, #003916);
  --mat-sys-on-primary-rgb: light-dark(rgb(255, 255, 255), rgb(0, 57, 22));
  --mat-sys-primary-container: light-dark(#a1f6ad, #005322);
  --mat-sys-primary-container-rgb: light-dark(rgb(161, 246, 173), rgb(0, 83, 34));
  --mat-sys-on-primary-container: light-dark(#00210a, #a1f6ad);
  --mat-sys-on-primary-container-rgb: light-dark(rgb(0, 33, 10), rgb(161, 246, 173));
  --mat-sys-secondary: light-dark(#516351, #b8ccb6);
  --mat-sys-secondary-rgb: light-dark(rgb(81, 99, 81), rgb(184, 204, 182));
  --mat-sys-on-secondary: light-dark(#ffffff, #233425);
  --mat-sys-on-secondary-rgb: light-dark(rgb(255, 255, 255), rgb(35, 52, 37));
  --mat-sys-secondary-container: light-dark(#d3e8d1, #394b3a);
  --mat-sys-secondary-container-rgb: light-dark(rgb(211, 232, 209), rgb(57, 75, 58));
  --mat-sys-on-secondary-container: light-dark(#0f1f11, #d3e8d1);
  --mat-sys-on-secondary-container-rgb: light-dark(rgb(15, 31, 17), rgb(211, 232, 209));
  --mat-sys-tertiary: light-dark(#39656d, #a1ced7);
  --mat-sys-tertiary-rgb: light-dark(rgb(57, 101, 109), rgb(161, 206, 215));
  --mat-sys-on-tertiary: light-dark(#ffffff, #00363e);
  --mat-sys-on-tertiary-rgb: light-dark(rgb(255, 255, 255), rgb(0, 54, 62));
  --mat-sys-tertiary-container: light-dark(#bdeaf4, #1f4d55);
  --mat-sys-tertiary-container-rgb: light-dark(rgb(189, 234, 244), rgb(31, 77, 85));
  --mat-sys-on-tertiary-container: light-dark(#001f24, #bdeaf4);
  --mat-sys-on-tertiary-container-rgb: light-dark(rgb(0, 31, 36), rgb(189, 234, 244));
  --mat-sys-error: light-dark(#ba1a1a, #ffb4ab);
  --mat-sys-error-rgb: light-dark(rgb(186, 26, 26), rgb(255, 180, 171));
  --mat-sys-on-error: light-dark(#ffffff, #690005);
  --mat-sys-on-error-rgb: light-dark(rgb(255, 255, 255), rgb(105, 0, 5));
  --mat-sys-error-container: light-dark(#ffdad6, #93000a);
  --mat-sys-error-container-rgb: light-dark(rgb(255, 218, 214), rgb(147, 0, 10));
  --mat-sys-on-error-container: light-dark(#410002, #ffb4ab);
  --mat-sys-on-error-container-rgb: light-dark(rgb(65, 0, 2), rgb(255, 180, 171));
  --mat-sys-background: light-dark(#fcfdf7, #1a1c19);
  --mat-sys-background-rgb: light-dark(rgb(252, 253, 247), rgb(26, 28, 25));
  --mat-sys-on-background: light-dark(#1a1c19, #e2e3dd);
  --mat-sys-on-background-rgb: light-dark(rgb(26, 28, 25), rgb(226, 227, 221));
  --mat-sys-surface: light-dark(#fcfdf7, #1a1c19);
  --mat-sys-surface-rgb: light-dark(rgb(252, 253, 247), rgb(26, 28, 25));
  --mat-sys-on-surface: light-dark(#1a1c19, #e2e3dd);
  --mat-sys-on-surface-rgb: light-dark(rgb(26, 28, 25), rgb(226, 227, 221));
  --mat-sys-surface-variant: light-dark(#dde5da, #414941);
  --mat-sys-surface-variant-rgb: light-dark(rgb(221, 229, 218), rgb(65, 73, 65));
  --mat-sys-on-surface-variant: light-dark(#414941, #c1c9be);
  --mat-sys-on-surface-variant-rgb: light-dark(rgb(65, 73, 65), rgb(193, 201, 190));
  --mat-sys-outline: light-dark(#727970, #8b9389);
  --mat-sys-outline-rgb: light-dark(rgb(114, 121, 112), rgb(139, 147, 137));
  --mat-sys-outline-variant: light-dark(#c1c9be, #414941);
  --mat-sys-outline-variant-rgb: light-dark(rgb(193, 201, 190), rgb(65, 73, 65));
  --mat-sys-shadow: light-dark(#000000, #000000);
  --mat-sys-shadow-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --mat-sys-scrim: light-dark(#000000, #000000);
  --mat-sys-scrim-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --mat-sys-inverse-surface: light-dark(#2e312e, #e2e3dd);
  --mat-sys-inverse-surface-rgb: light-dark(rgb(46, 49, 46), rgb(226, 227, 221));
  --mat-sys-inverse-on-surface: light-dark(#f0f1ec, #2e312e);
  --mat-sys-inverse-on-surface-rgb: light-dark(rgb(240, 241, 236), rgb(46, 49, 46));
  --mat-sys-inverse-primary: light-dark(#85d993, #146d33);
  --mat-sys-inverse-primary-rgb: light-dark(rgb(133, 217, 147), rgb(20, 109, 51));
  --mat-sys-surface-container-lowest: light-dark(#ffffff, #0c0f0c);
  --mat-sys-surface-container-lowest-rgb: light-dark(rgb(255, 255, 255), rgb(12, 15, 12));
  --mat-sys-surface-container-low: light-dark(#f3f4ee, #1a1c19);
  --mat-sys-surface-container-low-rgb: light-dark(rgb(243, 244, 238), rgb(26, 28, 25));
  --mat-sys-surface-container: light-dark(#edeee9, #1e201d);
  --mat-sys-surface-container-rgb: light-dark(rgb(237, 238, 233), rgb(30, 32, 29));
  --mat-sys-surface-container-high: light-dark(#e7e9e3, #282b27);
  --mat-sys-surface-container-high-rgb: light-dark(rgb(231, 233, 227), rgb(40, 43, 39));
  --mat-sys-surface-container-highest: light-dark(#e2e3dd, #333532);
  --mat-sys-surface-container-highest-rgb: light-dark(rgb(226, 227, 221), rgb(51, 53, 50));
  
  /* Custom color "success" */
  --mat-custom-success-color: light-dark(#006e20, #00e54e);
  --mat-custom-success-color-rgb: light-dark(rgb(0, 110, 32), rgb(0, 229, 78));
  --mat-custom-success-on-color: light-dark(#ffffff, #00390d);
  --mat-custom-success-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(0, 57, 13));
  --mat-custom-success-color-container: light-dark(#6eff7b, #005316);
  --mat-custom-success-color-container-rgb: light-dark(rgb(110, 255, 123), rgb(0, 83, 22));
  --mat-custom-success-on-color-container: light-dark(#002105, #6eff7b);
  --mat-custom-success-on-color-container-rgb: light-dark(rgb(0, 33, 5), rgb(110, 255, 123));
  
  /* Custom color "warning" */
  --mat-custom-warning-color: light-dark(#4d6706, #b2d26b);
  --mat-custom-warning-color-rgb: light-dark(rgb(77, 103, 6), rgb(178, 210, 107));
  --mat-custom-warning-on-color: light-dark(#ffffff, #263500);
  --mat-custom-warning-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(38, 53, 0));
  --mat-custom-warning-color-container: light-dark(#ceef84, #394e00);
  --mat-custom-warning-color-container-rgb: light-dark(rgb(206, 239, 132), rgb(57, 78, 0));
  --mat-custom-warning-on-color-container: light-dark(#151f00, #ceef84);
  --mat-custom-warning-on-color-container-rgb: light-dark(rgb(21, 31, 0), rgb(206, 239, 132));
  
  /* Palette tone references */
  
  --mat-ref-palette-primary100: #ffffff;
  --mat-ref-palette-primary99: #f6fff2;
  --mat-ref-palette-primary95: #c5ffc9;
  --mat-ref-palette-primary90: #a1f6ad;
  --mat-ref-palette-primary85: #93e7a0;
  --mat-ref-palette-primary80: #85d993;
  --mat-ref-palette-primary75: #78cb86;
  --mat-ref-palette-primary70: #6abd7a;
  --mat-ref-palette-primary65: #5daf6d;
  --mat-ref-palette-primary60: #50a161;
  --mat-ref-palette-primary55: #429455;
  --mat-ref-palette-primary50: #34874a;
  --mat-ref-palette-primary45: #26793e;
  --mat-ref-palette-primary40: #146d33;
  --mat-ref-palette-primary35: #006029;
  --mat-ref-palette-primary30: #005322;
  --mat-ref-palette-primary25: #00461c;
  --mat-ref-palette-primary20: #003916;
  --mat-ref-palette-primary15: #002d0f;
  --mat-ref-palette-primary10: #00210a;
  --mat-ref-palette-primary5: #001505;
  --mat-ref-palette-primary0: #000000;
  
  --mat-ref-palette-secondary100: #ffffff;
  --mat-ref-palette-secondary99: #f6fff2;
  --mat-ref-palette-secondary95: #e2f6df;
  --mat-ref-palette-secondary90: #d3e8d1;
  --mat-ref-palette-secondary85: #c5dac4;
  --mat-ref-palette-secondary80: #b8ccb6;
  --mat-ref-palette-secondary75: #aabea9;
  --mat-ref-palette-secondary70: #9db09c;
  --mat-ref-palette-secondary65: #8fa38f;
  --mat-ref-palette-secondary60: #829682;
  --mat-ref-palette-secondary55: #768975;
  --mat-ref-palette-secondary50: #697c69;
  --mat-ref-palette-secondary45: #5d6f5d;
  --mat-ref-palette-secondary40: #516351;
  --mat-ref-palette-secondary35: #455746;
  --mat-ref-palette-secondary30: #394b3a;
  --mat-ref-palette-secondary25: #2e4030;
  --mat-ref-palette-secondary20: #233425;
  --mat-ref-palette-secondary15: #192a1b;
  --mat-ref-palette-secondary10: #0f1f11;
  --mat-ref-palette-secondary5: #051407;
  --mat-ref-palette-secondary0: #000000;
  
  --mat-ref-palette-tertiary100: #ffffff;
  --mat-ref-palette-tertiary99: #f7fdff;
  --mat-ref-palette-tertiary95: #d2f7ff;
  --mat-ref-palette-tertiary90: #bdeaf4;
  --mat-ref-palette-tertiary85: #afdce5;
  --mat-ref-palette-tertiary80: #a1ced7;
  --mat-ref-palette-tertiary75: #94c0c9;
  --mat-ref-palette-tertiary70: #86b3bb;
  --mat-ref-palette-tertiary65: #79a5ae;
  --mat-ref-palette-tertiary60: #6c98a0;
  --mat-ref-palette-tertiary55: #5f8b93;
  --mat-ref-palette-tertiary50: #527e86;
  --mat-ref-palette-tertiary45: #467179;
  --mat-ref-palette-tertiary40: #39656d;
  --mat-ref-palette-tertiary35: #2d5961;
  --mat-ref-palette-tertiary30: #1f4d55;
  --mat-ref-palette-tertiary25: #114149;
  --mat-ref-palette-tertiary20: #00363e;
  --mat-ref-palette-tertiary15: #002a31;
  --mat-ref-palette-tertiary10: #001f24;
  --mat-ref-palette-tertiary5: #001417;
  --mat-ref-palette-tertiary0: #000000;
  
  --mat-ref-palette-neutral100: #ffffff;
  --mat-ref-palette-neutral99: #fcfdf7;
  --mat-ref-palette-neutral95: #f0f1ec;
  --mat-ref-palette-neutral90: #e2e3dd;
  --mat-ref-palette-neutral85: #d3d5d0;
  --mat-ref-palette-neutral80: #c5c7c2;
  --mat-ref-palette-neutral75: #b8b9b4;
  --mat-ref-palette-neutral70: #aaaca7;
  --mat-ref-palette-neutral65: #9c9e9a;
  --mat-ref-palette-neutral60: #8f918d;
  --mat-ref-palette-neutral55: #828480;
  --mat-ref-palette-neutral50: #757873;
  --mat-ref-palette-neutral45: #696b67;
  --mat-ref-palette-neutral40: #5d5f5b;
  --mat-ref-palette-neutral35: #51534f;
  --mat-ref-palette-neutral30: #454744;
  --mat-ref-palette-neutral25: #393c38;
  --mat-ref-palette-neutral20: #2e312e;
  --mat-ref-palette-neutral15: #242623;
  --mat-ref-palette-neutral10: #1a1c19;
  --mat-ref-palette-neutral5: #0f120f;
  --mat-ref-palette-neutral0: #000000;
  
  --mat-ref-palette-neutral-variant100: #ffffff;
  --mat-ref-palette-neutral-variant99: #f7fef3;
  --mat-ref-palette-neutral-variant95: #ecf3e8;
  --mat-ref-palette-neutral-variant90: #dde5da;
  --mat-ref-palette-neutral-variant85: #cfd7cc;
  --mat-ref-palette-neutral-variant80: #c1c9be;
  --mat-ref-palette-neutral-variant75: #b3bbb1;
  --mat-ref-palette-neutral-variant70: #a6ada3;
  --mat-ref-palette-neutral-variant65: #98a096;
  --mat-ref-palette-neutral-variant60: #8b9389;
  --mat-ref-palette-neutral-variant55: #7e867c;
  --mat-ref-palette-neutral-variant50: #727970;
  --mat-ref-palette-neutral-variant45: #656d64;
  --mat-ref-palette-neutral-variant40: #596058;
  --mat-ref-palette-neutral-variant35: #4d544c;
  --mat-ref-palette-neutral-variant30: #414941;
  --mat-ref-palette-neutral-variant25: #363d36;
  --mat-ref-palette-neutral-variant20: #2b322b;
  --mat-ref-palette-neutral-variant15: #212821;
  --mat-ref-palette-neutral-variant10: #161d17;
  --mat-ref-palette-neutral-variant5: #0c130c;
  --mat-ref-palette-neutral-variant0: #000000;
  
  --mat-ref-palette-error100: #ffffff;
  --mat-ref-palette-error99: #fffbff;
  --mat-ref-palette-error95: #ffedea;
  --mat-ref-palette-error90: #ffdad6;
  --mat-ref-palette-error85: #ffc7c0;
  --mat-ref-palette-error80: #ffb4ab;
  --mat-ref-palette-error75: #ff9f94;
  --mat-ref-palette-error70: #ff897d;
  --mat-ref-palette-error65: #ff7164;
  --mat-ref-palette-error60: #ff5449;
  --mat-ref-palette-error55: #f0443b;
  --mat-ref-palette-error50: #de3730;
  --mat-ref-palette-error45: #cc2925;
  --mat-ref-palette-error40: #ba1a1a;
  --mat-ref-palette-error35: #a80710;
  --mat-ref-palette-error30: #93000a;
  --mat-ref-palette-error25: #7e0007;
  --mat-ref-palette-error20: #690005;
  --mat-ref-palette-error15: #540003;
  --mat-ref-palette-error10: #410002;
  --mat-ref-palette-error5: #2d0001;
  --mat-ref-palette-error0: #000000;
}
