:root {
  /* Material Design 3 color schemes */
  --mat-sys-primary: light-dark(#c00100, #ffb4a8);
  --mat-sys-primary-rgb: light-dark(rgb(192, 1, 0), rgb(255, 180, 168));
  --mat-sys-on-primary: light-dark(#ffffff, #690100);
  --mat-sys-on-primary-rgb: light-dark(rgb(255, 255, 255), rgb(105, 1, 0));
  --mat-sys-primary-container: light-dark(#ffdad4, #930100);
  --mat-sys-primary-container-rgb: light-dark(rgb(255, 218, 212), rgb(147, 1, 0));
  --mat-sys-on-primary-container: light-dark(#410000, #ffdad4);
  --mat-sys-on-primary-container-rgb: light-dark(rgb(65, 0, 0), rgb(255, 218, 212));
  --mat-sys-secondary: light-dark(#775651, #e7bdb6);
  --mat-sys-secondary-rgb: light-dark(rgb(119, 86, 81), rgb(231, 189, 182));
  --mat-sys-on-secondary: light-dark(#ffffff, #442925);
  --mat-sys-on-secondary-rgb: light-dark(rgb(255, 255, 255), rgb(68, 41, 37));
  --mat-sys-secondary-container: light-dark(#ffdad4, #5d3f3b);
  --mat-sys-secondary-container-rgb: light-dark(rgb(255, 218, 212), rgb(93, 63, 59));
  --mat-sys-on-secondary-container: light-dark(#2c1512, #ffdad4);
  --mat-sys-on-secondary-container-rgb: light-dark(rgb(44, 21, 18), rgb(255, 218, 212));
  --mat-sys-tertiary: light-dark(#705c2e, #dec48c);
  --mat-sys-tertiary-rgb: light-dark(rgb(112, 92, 46), rgb(222, 196, 140));
  --mat-sys-on-tertiary: light-dark(#ffffff, #3e2e04);
  --mat-sys-on-tertiary-rgb: light-dark(rgb(255, 255, 255), rgb(62, 46, 4));
  --mat-sys-tertiary-container: light-dark(#fbdfa6, #564419);
  --mat-sys-tertiary-container-rgb: light-dark(rgb(251, 223, 166), rgb(86, 68, 25));
  --mat-sys-on-tertiary-container: light-dark(#251a00, #fbdfa6);
  --mat-sys-on-tertiary-container-rgb: light-dark(rgb(37, 26, 0), rgb(251, 223, 166));
  --mat-sys-error: light-dark(#ba1a1a, #ffb4ab);
  --mat-sys-error-rgb: light-dark(rgb(186, 26, 26), rgb(255, 180, 171));
  --mat-sys-on-error: light-dark(#ffffff, #690005);
  --mat-sys-on-error-rgb: light-dark(rgb(255, 255, 255), rgb(105, 0, 5));
  --mat-sys-error-container: light-dark(#ffdad6, #93000a);
  --mat-sys-error-container-rgb: light-dark(rgb(255, 218, 214), rgb(147, 0, 10));
  --mat-sys-on-error-container: light-dark(#410002, #ffb4ab);
  --mat-sys-on-error-container-rgb: light-dark(rgb(65, 0, 2), rgb(255, 180, 171));
  --mat-sys-background: light-dark(#fffbff, #201a19);
  --mat-sys-background-rgb: light-dark(rgb(255, 251, 255), rgb(32, 26, 25));
  --mat-sys-on-background: light-dark(#201a19, #ede0dd);
  --mat-sys-on-background-rgb: light-dark(rgb(32, 26, 25), rgb(237, 224, 221));
  --mat-sys-surface: light-dark(#fffbff, #201a19);
  --mat-sys-surface-rgb: light-dark(rgb(255, 251, 255), rgb(32, 26, 25));
  --mat-sys-on-surface: light-dark(#201a19, #ede0dd);
  --mat-sys-on-surface-rgb: light-dark(rgb(32, 26, 25), rgb(237, 224, 221));
  --mat-sys-surface-variant: light-dark(#f5ddda, #534341);
  --mat-sys-surface-variant-rgb: light-dark(rgb(245, 221, 218), rgb(83, 67, 65));
  --mat-sys-on-surface-variant: light-dark(#534341, #d8c2be);
  --mat-sys-on-surface-variant-rgb: light-dark(rgb(83, 67, 65), rgb(216, 194, 190));
  --mat-sys-outline: light-dark(#857370, #a08c89);
  --mat-sys-outline-rgb: light-dark(rgb(133, 115, 112), rgb(160, 140, 137));
  --mat-sys-outline-variant: light-dark(#d8c2be, #534341);
  --mat-sys-outline-variant-rgb: light-dark(rgb(216, 194, 190), rgb(83, 67, 65));
  --mat-sys-shadow: light-dark(#000000, #000000);
  --mat-sys-shadow-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --mat-sys-scrim: light-dark(#000000, #000000);
  --mat-sys-scrim-rgb: light-dark(rgb(0, 0, 0), rgb(0, 0, 0));
  --mat-sys-inverse-surface: light-dark(#362f2e, #ede0dd);
  --mat-sys-inverse-surface-rgb: light-dark(rgb(54, 47, 46), rgb(237, 224, 221));
  --mat-sys-inverse-on-surface: light-dark(#fbeeec, #362f2e);
  --mat-sys-inverse-on-surface-rgb: light-dark(rgb(251, 238, 236), rgb(54, 47, 46));
  --mat-sys-inverse-primary: light-dark(#ffb4a8, #c00100);
  --mat-sys-inverse-primary-rgb: light-dark(rgb(255, 180, 168), rgb(192, 1, 0));
  --mat-sys-surface-container-lowest: light-dark(#ffffff, #120d0c);
  --mat-sys-surface-container-lowest-rgb: light-dark(rgb(255, 255, 255), rgb(18, 13, 12));
  --mat-sys-surface-container-low: light-dark(#fef1ee, #201a19);
  --mat-sys-surface-container-low-rgb: light-dark(rgb(254, 241, 238), rgb(32, 26, 25));
  --mat-sys-surface-container: light-dark(#f8ebe9, #251e1d);
  --mat-sys-surface-container-rgb: light-dark(rgb(248, 235, 233), rgb(37, 30, 29));
  --mat-sys-surface-container-high: light-dark(#f3e5e3, #2f2827);
  --mat-sys-surface-container-high-rgb: light-dark(rgb(243, 229, 227), rgb(47, 40, 39));
  --mat-sys-surface-container-highest: light-dark(#ede0dd, #3b3332);
  --mat-sys-surface-container-highest-rgb: light-dark(rgb(237, 224, 221), rgb(59, 51, 50));
  
  /* Custom color "success" */
  --mat-custom-success-color: light-dark(#4a6700, #9fd800);
  --mat-custom-success-color-rgb: light-dark(rgb(74, 103, 0), rgb(159, 216, 0));
  --mat-custom-success-on-color: light-dark(#ffffff, #253600);
  --mat-custom-success-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(37, 54, 0));
  --mat-custom-success-color-container: light-dark(#b7f613, #374e00);
  --mat-custom-success-color-container-rgb: light-dark(rgb(183, 246, 19), rgb(55, 78, 0));
  --mat-custom-success-on-color-container: light-dark(#141f00, #b7f613);
  --mat-custom-success-on-color-container-rgb: light-dark(rgb(20, 31, 0), rgb(183, 246, 19));
  
  /* Custom color "warning" */
  --mat-custom-warning-color: light-dark(#715d00, #e4c44a);
  --mat-custom-warning-color-rgb: light-dark(rgb(113, 93, 0), rgb(228, 196, 74));
  --mat-custom-warning-on-color: light-dark(#ffffff, #3b2f00);
  --mat-custom-warning-on-color-rgb: light-dark(rgb(255, 255, 255), rgb(59, 47, 0));
  --mat-custom-warning-color-container: light-dark(#ffe176, #554500);
  --mat-custom-warning-color-container-rgb: light-dark(rgb(255, 225, 118), rgb(85, 69, 0));
  --mat-custom-warning-on-color-container: light-dark(#221b00, #ffe176);
  --mat-custom-warning-on-color-container-rgb: light-dark(rgb(34, 27, 0), rgb(255, 225, 118));
  
  /* Palette tone references */
  
  --mat-ref-palette-primary100: #ffffff;
  --mat-ref-palette-primary99: #fffbff;
  --mat-ref-palette-primary95: #ffedea;
  --mat-ref-palette-primary90: #ffdad4;
  --mat-ref-palette-primary85: #ffc7be;
  --mat-ref-palette-primary80: #ffb4a8;
  --mat-ref-palette-primary75: #ffa091;
  --mat-ref-palette-primary70: #ff8a78;
  --mat-ref-palette-primary65: #ff725e;
  --mat-ref-palette-primary60: #ff5540;
  --mat-ref-palette-primary55: #ff291a;
  --mat-ref-palette-primary50: #ef0000;
  --mat-ref-palette-primary45: #d80100;
  --mat-ref-palette-primary40: #c00100;
  --mat-ref-palette-primary35: #a90100;
  --mat-ref-palette-primary30: #930100;
  --mat-ref-palette-primary25: #7e0100;
  --mat-ref-palette-primary20: #690100;
  --mat-ref-palette-primary15: #540000;
  --mat-ref-palette-primary10: #410000;
  --mat-ref-palette-primary5: #2d0000;
  --mat-ref-palette-primary0: #000000;
  
  --mat-ref-palette-secondary100: #ffffff;
  --mat-ref-palette-secondary99: #fffbff;
  --mat-ref-palette-secondary95: #ffedea;
  --mat-ref-palette-secondary90: #ffdad4;
  --mat-ref-palette-secondary85: #f6cbc4;
  --mat-ref-palette-secondary80: #e7bdb6;
  --mat-ref-palette-secondary75: #d8afa9;
  --mat-ref-palette-secondary70: #caa29c;
  --mat-ref-palette-secondary65: #bc958f;
  --mat-ref-palette-secondary60: #ae8882;
  --mat-ref-palette-secondary55: #a07b75;
  --mat-ref-palette-secondary50: #926f69;
  --mat-ref-palette-secondary45: #84625d;
  --mat-ref-palette-secondary40: #775651;
  --mat-ref-palette-secondary35: #6a4b46;
  --mat-ref-palette-secondary30: #5d3f3b;
  --mat-ref-palette-secondary25: #513430;
  --mat-ref-palette-secondary20: #442925;
  --mat-ref-palette-secondary15: #381f1b;
  --mat-ref-palette-secondary10: #2c1512;
  --mat-ref-palette-secondary5: #200b08;
  --mat-ref-palette-secondary0: #000000;
  
  --mat-ref-palette-tertiary100: #ffffff;
  --mat-ref-palette-tertiary99: #fffbff;
  --mat-ref-palette-tertiary95: #ffefd2;
  --mat-ref-palette-tertiary90: #fbdfa6;
  --mat-ref-palette-tertiary85: #ecd199;
  --mat-ref-palette-tertiary80: #dec48c;
  --mat-ref-palette-tertiary75: #cfb680;
  --mat-ref-palette-tertiary70: #c1a873;
  --mat-ref-palette-tertiary65: #b39b67;
  --mat-ref-palette-tertiary60: #a58e5b;
  --mat-ref-palette-tertiary55: #978150;
  --mat-ref-palette-tertiary50: #8a7444;
  --mat-ref-palette-tertiary45: #7d6839;
  --mat-ref-palette-tertiary40: #705c2e;
  --mat-ref-palette-tertiary35: #635023;
  --mat-ref-palette-tertiary30: #564419;
  --mat-ref-palette-tertiary25: #4a390e;
  --mat-ref-palette-tertiary20: #3e2e04;
  --mat-ref-palette-tertiary15: #322400;
  --mat-ref-palette-tertiary10: #251a00;
  --mat-ref-palette-tertiary5: #181000;
  --mat-ref-palette-tertiary0: #000000;
  
  --mat-ref-palette-neutral100: #ffffff;
  --mat-ref-palette-neutral99: #fffbff;
  --mat-ref-palette-neutral95: #fbeeec;
  --mat-ref-palette-neutral90: #ede0dd;
  --mat-ref-palette-neutral85: #ded2d0;
  --mat-ref-palette-neutral80: #d0c4c2;
  --mat-ref-palette-neutral75: #c2b6b4;
  --mat-ref-palette-neutral70: #b4a9a7;
  --mat-ref-palette-neutral65: #a79b9a;
  --mat-ref-palette-neutral60: #998e8d;
  --mat-ref-palette-neutral55: #8c8180;
  --mat-ref-palette-neutral50: #7f7573;
  --mat-ref-palette-neutral45: #726867;
  --mat-ref-palette-neutral40: #655c5b;
  --mat-ref-palette-neutral35: #59504f;
  --mat-ref-palette-neutral30: #4d4544;
  --mat-ref-palette-neutral25: #413a38;
  --mat-ref-palette-neutral20: #362f2e;
  --mat-ref-palette-neutral15: #2b2423;
  --mat-ref-palette-neutral10: #201a19;
  --mat-ref-palette-neutral5: #15100f;
  --mat-ref-palette-neutral0: #000000;
  
  --mat-ref-palette-neutral-variant100: #ffffff;
  --mat-ref-palette-neutral-variant99: #fffbff;
  --mat-ref-palette-neutral-variant95: #ffedea;
  --mat-ref-palette-neutral-variant90: #f5ddda;
  --mat-ref-palette-neutral-variant85: #e6cfcc;
  --mat-ref-palette-neutral-variant80: #d8c2be;
  --mat-ref-palette-neutral-variant75: #cab4b0;
  --mat-ref-palette-neutral-variant70: #bca7a3;
  --mat-ref-palette-neutral-variant65: #ae9996;
  --mat-ref-palette-neutral-variant60: #a08c89;
  --mat-ref-palette-neutral-variant55: #937f7c;
  --mat-ref-palette-neutral-variant50: #857370;
  --mat-ref-palette-neutral-variant45: #786764;
  --mat-ref-palette-neutral-variant40: #6c5a58;
  --mat-ref-palette-neutral-variant35: #5f4f4c;
  --mat-ref-palette-neutral-variant30: #534341;
  --mat-ref-palette-neutral-variant25: #473836;
  --mat-ref-palette-neutral-variant20: #3b2d2b;
  --mat-ref-palette-neutral-variant15: #302321;
  --mat-ref-palette-neutral-variant10: #251917;
  --mat-ref-palette-neutral-variant5: #190e0c;
  --mat-ref-palette-neutral-variant0: #000000;
  
  --mat-ref-palette-error100: #ffffff;
  --mat-ref-palette-error99: #fffbff;
  --mat-ref-palette-error95: #ffedea;
  --mat-ref-palette-error90: #ffdad6;
  --mat-ref-palette-error85: #ffc7c0;
  --mat-ref-palette-error80: #ffb4ab;
  --mat-ref-palette-error75: #ff9f94;
  --mat-ref-palette-error70: #ff897d;
  --mat-ref-palette-error65: #ff7164;
  --mat-ref-palette-error60: #ff5449;
  --mat-ref-palette-error55: #f0443b;
  --mat-ref-palette-error50: #de3730;
  --mat-ref-palette-error45: #cc2925;
  --mat-ref-palette-error40: #ba1a1a;
  --mat-ref-palette-error35: #a80710;
  --mat-ref-palette-error30: #93000a;
  --mat-ref-palette-error25: #7e0007;
  --mat-ref-palette-error20: #690005;
  --mat-ref-palette-error15: #540003;
  --mat-ref-palette-error10: #410002;
  --mat-ref-palette-error5: #2d0001;
  --mat-ref-palette-error0: #000000;
}
